language: python
services: mongodb
python:
    - "2.7"
    - "3.3"
install:
  - pip install -r requirements.txt --use-mirrors
script:
  - py.test tests -v
branches:
  only:
    - master
notifications:
  email: false
